@import "components/_variables";

body {
	background: @primary-background;
	font-family: @body-copy;
	font-size: @base-font-size;
	line-height: @base-line-height;
	color: @primary-text;
}

ul, ol {
}

li {
}

a, a:link, a:visited {
}

a:hover {
}

p {
}

hr {
}

/*
02. LAYOUT
Styles specific to the layout of a site
*/